# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# old tests
/text-ui-test/ACTUAL.txt
/text-ui-test/EXPECTED-UNIX.TXT

# Duke save data
savedata.txt

# jar production artifacts
src/main/java/META-INF/