

.scroll-pane > .viewport {
    -fx-background-color: linear-gradient(#eecda3,#e2629f);
    -fx-border-color: #1d4350;
}

.scroll-pane {
    -fx-border-color: #904e95;
}

.root {
    -fx-background-color: #1d4350;
}

.button {
    -fx-background-color: linear-gradient(#e96443, #904e95);
}
