.dialog-box {
    -fx-background-color: rgba(255, 235, 192, 0.9);
    -fx-background-radius: 20;
    -fx-spacing: 3.0;
}
.dialog-label {
    -fx-text-fill: black;
}
.scroll-pane {
    -fx-background-image:url("/images/background.png");
    -fx-background-size: 190% 100%;
    -fx-background-position: center center;
    -fx-background: transparent;
}
.text-field {
    -fx-background-color: rgba(77, 125, 189, 1.0);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.input-button {
    -fx-background-color: rgba(238, 50, 75, 1.0);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.anchor-pane {
    -fx-background-color: rgba(155, 106, 28, 255);
}